<div class="graph">
    
    <input type="text" value="" name="graphTitle" placeholder="Set your own title"></input>
    <select class="graph-types"></select>
    <div class="container">

    </div>
</div>