<div>
    <h1>datapine's Senior Frontend Developers' test</h1>
    <p>We would like you to build a small charting application, using this template or something totally different, it is up to you. We would prefer it if you use the below libraries, but again, if you know something similar, and believe you can do a better job with it then by all means use that instead. However, your application must be a SPA. We would prefer your application to not look like a typical bootstrap application...</p>
    <p>We would like you to use something such as the following:</p>
    <ul>
      <li>Backbone+Backbone Layoutmanager / Angular.js</li>
      <li>RequireJS</li>
      <li>Highcharts</li>
      <li>CSS written with LESS/SASS and not plain CSS like this template currently has. </li>
    </ul>
    <p>We would like your application to load a number of charts (4+ depending upon your thumbnail size and application design) on a page. These charts should adhere to these conditions:</p>
    <ul>
        <li>All charts should be in thumbnail mode on the initial page</li>
        <li>All charts should be given a full view mode (lightbox or new page). If you can do this via routes, that would be awesome.</li>
        <li>All charts should be able to switch something simple, such as the chart type or chart name. <em>Persistent data isn't expected to be implemented if you're using JSON files</em></li>
        <li>The chart data should be pulled from a resource. A simple .json file would suffice</li>
    </ul>
    <p>Additional to the charts, we would like you to make a menu that allows you switch between the initial page and a page that explains (in brief) your test and how you go about loading it &amp;c. <em>(typical README.md stuff)</em></p>
    <p>We will be judging your test on how your application looks and feels, meeting the above specifications, the quality of code and how it has been executed. Anything additional that you may add to show off your best skills <em>(such as a chart filter)</em> is always welcome.</p>
    <p>Once your test is complete, we would ideally prefer it if you uploaded your test to a public repo and sent us the details. You could alternatively send us the file via email</p>
  </div>