<div class="thumbnail">
    <h3><%= data.name %></h3>
    <div class="container">
        <a href="#/graph/<%= data.id%>">
            <img src="img/<%= data.id%>.png" alt="<%= data.name%>">
        </a>
    </div>
</div>