/* dashboard less */

@link-color: #999;
@menu-back-color: #243133;
@menu-font-color: #dedede;
@menu-width: 250px;
@menu-link-color: #E6E6E6;
@form-font-size: 20px;

/* general styles */

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: @link-color;
    :visited {
        color: @link-color;
    }
}


/* header styles */

.header {
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(@menu-back-color, darken(@menu-back-color, 5%));
    color: @menu-font-color;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    a {
        color: @menu-link-color;
        :visited {
            color: @menu-link-color;
        }
    }
}


/* menu styles */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: @menu-width;
    line-height: 40px;
    text-transform: uppercase;
    background-color: @menu-back-color;
    color: @menu-font-color;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    left: -@menu-width;
    padding: 0 0 0 0;
    .title {
        padding: 10px 20px;
    }
    &.push {
        left: 0;
    }
    ul {
        list-style-type: none;
        padding: 10px 20px;
    }
    a {
        color: @menu-link-color;
        :visited {
            color: @menu-link-color;
        }
    }
}

.btn-menu {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: fixed;
    top: 10px;
    text-align: center;
    background-color: #dedede;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    &.push {
        left: @menu-width;
    }
}


/* page container styles */

.page-container {
    width: 60%;
    margin: auto;
    padding: 20px 0 0 0;
}


/* welcome */

.welcome-message {
    display: block;
    color: #666;
    text-align: center;
}


/* thumbnail */

.thumbnail {
    width: 38%;
    padding: 20px 4%;
    margin: 2%;
    display: inline-block;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    h3 {
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        height: 50px;
    }
    img {
        width: 100%;
        height: 200px;
    }
    &:hover {
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    }
}


/* Graph */

.graph {
    input,select {
        height: 30px;
        font-size: @form-font-size;
    }

    input {
      width: 100%;
    }
}

/* README */

.readme {
    font-size: 1.3em;
    p {
        margin: 20px 0;
    }
}