/* global reset of html elements */

/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html, body {
    border: 0;
    font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}
/* dashboard less */

@link-color: #999;
@menu-back-color: #243133;
@menu-font-color: #dedede;
@menu-width: 250px;
@menu-link-color: #E6E6E6;
@form-font-size: 20px;

/* general styles */

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: @link-color;
    :visited {
        color: @link-color;
    }
}


/* header styles */

.header {
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(@menu-back-color, darken(@menu-back-color, 5%));
    color: @menu-font-color;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    a {
        color: @menu-link-color;
        :visited {
            color: @menu-link-color;
        }
    }
}


/* menu styles */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: @menu-width;
    line-height: 40px;
    text-transform: uppercase;
    background-color: @menu-back-color;
    color: @menu-font-color;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    left: -@menu-width;
    padding: 0 0 0 0;
    .title {
        padding: 10px 20px;
    }
    &.push {
        left: 0;
    }
    ul {
        list-style-type: none;
        padding: 10px 20px;
    }
    a {
        color: @menu-link-color;
        :visited {
            color: @menu-link-color;
        }
    }
}

.btn-menu {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: fixed;
    top: 10px;
    text-align: center;
    background-color: #dedede;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    &.push {
        left: @menu-width;
    }
}


/* page container styles */

.page-container {
    width: 60%;
    margin: auto;
    padding: 20px 0 0 0;
}


/* welcome */

.welcome-message {
    display: block;
    color: #666;
    text-align: center;
}


/* thumbnail */

.thumbnail {
    width: 38%;
    padding: 20px 4%;
    margin: 2%;
    display: inline-block;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    h3 {
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        height: 50px;
    }
    img {
        width: 100%;
        height: 200px;
    }
    &:hover {
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    }
}


/* Graph */

.graph {
    input,select {
        height: 30px;
        font-size: @form-font-size;
    }

    input {
      width: 100%;
    }
}

/* README */

.readme {
    font-size: 1.3em;
    p {
        margin: 20px 0;
    }
}